.bigCounter {
text-align: center;
margin-top: 20px;
background-color: black;
}

.bigCounter div{
    display: inline-block;
    font-size: 100px;
    line-height: 100px;
    background-color: black !important;
    color:white;
    padding: 10px;
    
}